/*
General
*/
* {
  font-family:"Major Mono Display", monospace;
}
/*
Home Page
*/
#index-home-page {
  background-color:#008080;
}
#tic-tac-toe-link {
  padding-left: 3em;
  padding-right: 3em;
}
#connect-four-link {
  padding-left: 3em;
  padding-right: 3em;
}
#checkers-link {
  padding-left: 3em;
  padding-right: 3em;
}
#index-link-table {
  border: 20px dashed green;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
}
#index-link-table:hover {
  border: 20px solid red;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  background-color:#8CA531;
}
/*
This is all for tic-tac
*/
body {
  text-align: center;
  font-family: "Roboto", monospace;
  background-color:#008080;
}

h1 {
  margin: 0 auto;
  font-family:"Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%
}

h2 {
  font-size: 36px
  font-weight: lighter;
  margin: 2%
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
  border-color: white;
}
.square:hover {
  background-color: #4B6B12;
  cursor: pointer;
}

#reset-button {
  background-color: #257C7C;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: #9B2E2E;
  color: white;
  cursor: pointer;
}

#table {
  border: 6px dotted white;
  height: 30px;
  width: 60%;
  font-size: 24px;
  margin-left:auto;
  margin-right:auto;
}
#table:hover {
  border: 6px solid white;
  height: 30px;
  width: 60%;
  font-size: 24px;
  margin-left:auto;
  margin-right:auto;
  background-color:#257C7C;
}
#reset-score {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 3px solid white;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 200px;
  font-family:"Major Mono Display", monospace;
  background-color:#008080;
}
#reset-score:hover {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 3px dotted white;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 200px;
  font-family:"Major Mono Display", monospace;
  background-color: #4B6B12;
}
#player-turn {
   margin-left: auto;
   margin-right: auto;
   border: 3px solid white;
   color: white;
   font-size: 20px;
   text-align: center;
   width: 100px;
   height: 100px;
   background-color:#008080;
}

#player-turn:hover {
  margin-left: auto;
  margin-right: auto;
  border: 3px dotted white;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #9B2E2E;
}
/* Brick Breaker
*/
#brick-canvas {
  border: 2px solid black;
}
/* checkers
*/
.dark-square {
    background-image: url("../images/black-squares.jpg");
    background-size: cover;
}

.light-square {
    background-image: url("../images/white-squares.jpg");
}

body , html{
		transition: 1s ease-in-out;
		width: 100%;
		height : 100%;
		margin : 0 0;
		padding: 0  0;
}
.square{
	float: left;
	width: 80px;
	height: 80px;
}

.white_square{
	background-color:#F0D2B4;
}
.black_square{
	background-color :#BA7A3A;
}
.clear_float{
	clear: both;
}

.table{
	position: relative;
	width: 640px;
	height: 640px;
	margin: 0 auto;
}
.score{
	background-color: #1aaaad;
	color: white;
	display: none;
	font-size: 45px;
	font-weight: 900;
	height:150px;
	border-radius: 10%;
	left: 0px;
	letter-spacing: 1px;
	margin : 0 auto;
	padding-top: 30px;
	overflow: hidden;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 15%;
	width: 200px;
	z-index: 8;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	 -webkit-transition: 5s ease-in-out;
	-moz-transition: 5s ease-in-out;
  -o-transition: 5s ease-in-out;
  transition: 5s ease-in-out;
}

.checker{
	top:10px;
	left:10px;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid white;
	cursor: pointer;

}

.white_checker{
	background: #CC0000;
 -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.black_checker{
	background: #00001F;
 -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.black_background{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index:  7;
	display: none;
}

@media only screen and (max-width : 640px){
	.table{
		width: 400px;
		height: 400px;
	}

	.square{
		width: 50px;
		height: 50px;
	}

	.checker{
		width: 32px;
		height: 32px;
	}
}
